*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar{
    background-color: white;
    position: sticky;
    
}
.nav-link{
    color: black;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.nav-link:hover{
    background-color: black;
    color: white;
}
.navbar-brand{
    font-size: 1.25rem;
    font-weight: 800;
    color: black;
    cursor: pointer;
}
.side-bar{
    /* display: none; */
    list-style: none;
}
.side-bar a{
    color: black;
    font-size: 1.25rem;
}


/* content part  */
.main{
    background: url(./images/background.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

}

.main span{
    color: red;
    font-weight:500;
} 

.main h3{
    font-size: 4.4rem;
}
.main h6{
    font-size: 2rem;
}
.main input{
    margin-top: 15px;
    font-weight: 500;
    margin-left: 10px;
}




.card:hover{
    
    transition: transform ease-out 0.5s;
    transform:scale(1.10);
    background-color: rgba(212, 226, 226, 0.476);
}
.card img{
    height: 200px;
}





.carousel img{
    width: 1000px !important;
    height: 600px;
    margin: auto;

}





.list-group li{
    padding: 10px;
}
.list-group li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.05rem;
}
.list-group li a:hover{
    color: rgb(239, 83, 83);
    transition: transform ease-out 2.5s;
    transform: scale(2);
}





/* -----------------media--query-------------- */

@media only screen and (max-width:559px)and (min-width:300px){
    .navbar-brand{
     margin-right: auto;
     padding: 0 0 0 30px;
    }
    .side-bar{
        /* display: none; */
        list-style: none;
        margin-top: 20px;
        position: absolute;
        right:40px;
        top: 0px;
    }
    .side-bar a{
        color: black;
        font-size: 1.25rem;
    }
    nav .container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }
    nav .navbar-nav{
        display: none;
        align-self: flex-end;
        position: relative;
        margin-top: 40px;
        text-align: center;
    }
    .navbar-nav .nav-link{
        padding: 15px 0px;
    }
    .main{
        transform: translateX(20%);
    }
    .main h3{
        font-size:0.25rem;
    }
    .main h6{
        font-size:0.25rem;
    }
    .main .btn{
       font-size: 0.79rem;
    }
    .main-footer .col-4{
        width: 50%;
    }
    .main-footer .col-8{
        width: 50%;
    }

    .cards{
       transform: translateX(25%);
    }
    .cards #card-1{
        width: 100%;
    }
    .cards #card-2{
        width: 100%;
        margin-top: 30px;
    }
    .cards #card-3{
        width:100%;
        margin-top: 30px;
    }
    .cards #card-4{
        width:100%;
        margin-top: 30px;
    }
    .main-footer .btn{
        margin-top: 10px;
    }
    #about-me{
        transform: translateX(15%);
    }

    .carousel{
        transform: translateX(6%);
    }
    #footer{
        transform: translateX(10%);
    }
    #main-1{
        width: 100%;
    }
    #main-2{
        width: 100%;
    }
}



/* -------extra small --------- */
@media only screen and (max-width:600px){
    

    .side-bar{
        /* display: none; */
        list-style: none;
        margin-top: 20px;
        position: absolute;
        right:40px;
        top: 0px;
    }
    .side-bar a{
        color: black;
        font-size: 1.25rem;
    }
    nav .container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }
    nav .navbar-nav{
        display: none;
        align-self: flex-end;
        position: relative;
        margin-top: 40px;
        text-align: center;
    }
    .navbar-nav .nav-link{
        padding: 15px 0px;
    }
    .main{
        background: url(./images/background.png) no-repeat;
        background-size:100%;
        width: 100vw;
        height: 100%;
        padding: 0 !important;
        margin: 0;
    }
    .main h3{
        font-size:2rem;
    }
    .main h6{
        font-size: 1.05rem;
    }
    .main .btn{
       font-size: 0.79rem;
    }
    .main-footer .col-4{
        width: 50%;
    }
    .main-footer .col-8{
        width: 50%;
    }


    .cards #card-1,#card-2{
        width: 50%;
        padding: 10px;
    }
    .cards #card-3,#card-4{
        width: 50%;
    }
    .main-footer .btn{
        margin-top: 10px;
    }

} 

/* -------small size------- */
@media only screen and (min-width:600px){
    .side-bar{
        /* display: none; */
        list-style: none;
        margin-top: 20px;
        position: absolute;
        right:60px;
        top: 0px;
    }
    .side-bar a{
        color: black;
        font-size: 1.25rem;
    }
    nav .container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }
    nav .navbar-nav{
        display: none;
        align-self: flex-end;
        position: relative;
        margin-top: 40px;
        text-align: center;
    }
    .navbar-nav .nav-link{
        padding: 15px 0px;
    }
    .main{
        background: url(./images/background.png) no-repeat;
        background-size:100%;
        width: 100vw;
        height: 100vh;
        padding: 0 !important;
        margin: 0;
    }
    .main h3{
        font-size:2rem;
    }
    .main h6{
        font-size: 1.05rem;
    }
}

/* ----------medium-tablet------ */
@media only screen and (min-width:768px){
    .side-bar{
        /* display: none; */
        list-style: none;
        margin-top: 20px;
        position: absolute;
        right:60px;
        top: 0px;
    }
    .side-bar a{
        color: black;
        font-size: 1.25rem;
    }
    nav .container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }
    nav .navbar-nav{
        display: none;
        align-self: flex-end;
        position: relative;
        margin-top: 40px;
        text-align: center;
    }
    .navbar-nav .nav-link{
        padding: 15px 0px;
    }
}

@media only screen and (min-width:992px){
    .side-bar{
        display: none;
    }
    .navbar .navbar-nav{
        position:absolute;
        right:0;
        top: 40;
       margin: inherit;
       padding: inherit;
       
    }
    .navbar-brand{
        position: absolute;
        left: 100px;
    }
    .main span{
        color: red;
        font-weight:500;
    } 
    
    .main h3{
        font-size: 4.4rem;
    }
    .main h6{
        font-size: 2rem;
    }
}
/* ----------self-created-breakpoint----------- */
@media only screen and (min-width: 993px) {
    .side-bar{
        display: none;
    }
    .navbar .navbar-nav{
        display:flex;
    }
    .main span{
        color: red;
        font-weight:500;
    } 
    
    .main h3{
        font-size: 4.4rem;
    }
    .main h6{
        font-size: 2rem;
    }

  }

@media only screen and (min-width:1200px){
    .side-bar{
        display: none;
    }
    .navbar .navbar-nav{
        display:flex;
    }
    .main span{
        color: red;
        font-weight:500;
    } 
    
    .main h3{
        font-size: 4.4rem;
    }
    .main h6{
        font-size: 2rem;
    }
}

